.idea/*
venv/*
*.pyc
data/logs/
data/gutenberg_en/*
data/gutenberg_en.zip
data/validation_data/
data/rotor_ciphertexts/
*.h5
weights.zip
cipherTypeDetection/*_logs/**
cipherTypeDetection/correlations.pickle
cipherTypeDetection/run_trainings.sh
.DS_Store
*~
.vscode/launch.json

data/*tensorboard_logs/
data/_parameters.txt

